@import 'src/assets/styles/colors';

.main-nav {
	width: 100vw;
	height: 60px;
	background-color: $background;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__controls {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__header {
		color: $primary;

		display: flex;

		h1 {
			margin: 0 10px 0 10px;
			font-weight: 700;
			font-size: 22px;
		}
	}
}
