<nav class="shadow-lg main-nav">
	<h1 class="h1">Communicator</h1>

	<div class="main-nav__controls">
		<ng-container *ngIf="isLoggedIn() | async">
			<a class="btn btn-outline-primary m-1" [routerLink]="['rooms', 'browse']">Browse</a>
			<button class="btn btn-primary" (click)="logOut()">Log out</button>
		</ng-container>

		<ng-container *ngIf="!(isLoggedIn() | async)">
			<a [routerLink]="['auth', 'register']" class="btn btn-outline-primary">
				Register
			</a>
			<a [routerLink]="['auth', 'login']" class="btn btn-primary m-3">
				Log in
			</a>
		</ng-container>
	</div>
</nav>
