<main class="room-page">
	<cm-room-participants-continer
		[participants]="connections | async"
	></cm-room-participants-continer>
	<div class="container-fluid mt-3">
		<div class="row">
			<div class="col-sm-8">
				<video
					autoplay
					[srcObject]="(getMainVideoStream() | async)?.track"
					class="room-page__main-stream"
				>
					<div class="room-page__video-fallback"></div>
				</video>
			</div>
			<div class="col-sm-3">
				<cm-room-messages></cm-room-messages>
			</div>
		</div>
	</div>
</main>
