@import 'src/styles';
.room-page {
	width: 100vw;
	height: calc(100vh - 60px);
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: #fefe;

	&__stream-thumbnail {
		border-radius: 3px;
		object-fit: fill;
	}

	&__main-stream {
		width: 100%;
		height: auto;
		object-fit: cover;
		max-height: calc(100vh - 20rem);
		position: relative;
		z-index: 10;
	}
}
