<main class="room-page">
	<aside class="room-page__participants shadow-sm">
		<cm-user-video-thumbnail
			class="room-page__stream-thumbnail room-page__user-stream shadow-lg"
		>
		</cm-user-video-thumbnail>
		<cm-room-participant
			*ngFor="let connection of connections | async"
			[connection]="connection"
		></cm-room-participant>
	</aside>

	<video
		autoplay
		[srcObject]="(getMainVideoStream() | async)?.track"
		class="room-page__main-stream"
	>
		<div class="room-page__video-fallback"></div>
	</video>
</main>
