@import 'src/styles';
.room-page {
	width: 100vw;
	height: calc(100vh - 60px);
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: #fefe;

	&__user-stream {
		width: 250px;
	}

	&__stream-thumbnail {
		border-radius: 3px;
		object-fit: fill;
	}

	&__main-stream {
		width: 100%;
		max-width: 1140px;
		margin: 30px auto;
		height: auto;
		object-fit: cover;
		max-height: calc(100vh - 120px);
		position: relative;
		z-index: 10;
	}

	&__participants {
		background-color: $background;
		width: 100vw;
		display: flex;
		z-index: 5;
		align-items: center;
		padding: 20px;
	}
}
