.user-video-thumbnail {
	width: 100%;
	position: relative;

	&__controls {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		justify-content: flex-end;
		padding: 10px;
	}
}
